In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# from google.colab import drive
# drive.mount('/content/drive')

:

In [16]:
df_term_details = pd.read_excel("/Users/shriprasad/Desktop/Data-Analyst/RP-Course Recom/New SH (Research) (1).xlsx",sheet_name=0,header=1)
df_course_details = pd.read_excel("/Users/shriprasad/Desktop/Data-Analyst/RP-Course Recom/New SH (Research) (1).xlsx",sheet_name=1)

In [17]:
df_term_details

,encoded email,encoded smail,,Status,Country,State,city,Foundation completed,Diploma completed,Degree completed,...,DS CGPA,DP CGPA,Diploma CGPA,Degree CGPA,BSc completion,BS Completion,Latest Registered term,Foundation Completion term,New Student Status,Unnamed: 67
0,12dfsojhfks100034084,21f1dhfjnojo10000001,NaN,TermStudents,india,Rajasthan,NaN,3,0,0,...,-,-,-,-,NaN,NaN,2.0,NaN,FORCED_TO_QUIT,5.3
1,12dfsojhfks100013034,21f1dhfjnojo10000002,NaN,TermStudents,india,Tamil-Nadu,NaN,4,0,0,...,-,-,-,-,NaN,NaN,3.0,NaN,FORCED_TO_QUIT,5.8
2,12dfsojhfks100034136,21f1dhfjnojo10000003,NaN,TermStudents,india,Karnataka,NaN,1,0,0,...,-,-,-,-,NaN,NaN,3.0,NaN,FORCED_TO_QUIT,-
3,12dfsojhfks100017426,21f1dhfjnojo10000004,NaN,TermStudents,india,Telangana,NaN,7,0,0,...,-,-,-,-,NaN,NaN,9.0,NaN,FORCED_TO_QUIT,-
4,12dfsojhfks100035751,21f1dhfjnojo10000005,NaN,TermStudents,india,Andhra-Pradesh,NaN,4,0,0,...,-,-,-,-,NaN,NaN,9.0,NaN,FORCED_TO_QUIT,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47567,12dfsojhfks100000244,NotSdhfjnojo10012293,NaN,JEEStudents,-,-,-,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotStarted,-
47568,12dfsojhfks100000146,NotSdhfjnojo10012293,NaN,JEEStudents,-,-,-,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotStarted,-
47569,12dfsojhfks100000129,NotSdhfjnojo10012293,NaN,JEEStudents,-,-,-,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotStarted,-
47570,12dfsojhfks100000099,NotSdhfjnojo10012293,NaN,JEEStudents,-,-,-,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotStarted,-
47571,12dfsojhfks100000007,NotSdhfjnojo10012293,NaN,JEEStudents,-,-,-,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotStarted,-

In [18]:
len(df_term_details['city'].unique())
df_course_details.head()
## Dropping Unwanted Columns
cols_drop=["encoded smail",
           "Current Status","CurrentLevelAsOfTerm",
           "CurrentLevel","Diploma completed",
           "Degree completed","Theory Completed",
           "Projects completed","No Of Term Register",
           "Term Status.1","NOC Reg.1",
           "Term Status.2","NOC Reg.2","Term Status.3",
           "NOC Reg.3","Term Status.4","NOC Reg.4",
           "Term Status.5","NOC Reg.5","Projects.1",
           "Term Status.6","NOC Reg.6","Projects.2",
           "Term Status.7","NOC Reg.7","Projects",
           "Term Status.8","NOC Reg.8","Term Status",
           "NOC Reg","DPDiplomaCertCompletion",
           "DSDiplomaCertCompletion","LatestDiplomaCompletedTerm",
           "DiplomaStatus","StudentStatus","IncomeLevel",
           "LatestCGPA","pwd","DS CGPA","DP CGPA","Diploma CGPA",
           "Degree CGPA","BSc completion","BS Completion"]
df_term_details = df_term_details.drop(cols_drop,axis=1)

## Dropping all rows where students have not completed foundation
df_term_details = df_term_details.dropna(subset=["FoundationalCertCompletion"])
df_term_details.fillna(0)
df_course_details.drop(['encoded smail'],axis=1,inplace=True)

## Mapping Each term with a numeric value for calculation foundation completion time
term_mapping = {'F1-2021': 1, 'F1-2022': 4, 'F2-2021': 2, 'F2-2022': 5, 'F3-2021': 3, 'F3-2022': 6, 'F1-2023': 7,'F2-2023': 8,'F3-2023': 9}
## Mapping each grade with its respective numberic quantity
grade_mapping = {'S':10,'A':9,'B':8,'C':7,'D':6,'E':4,'U':0 , 'I':0, 'WA':0, 'WQ':0, 'I_OP':0,'I_BOTH':0, 'F':0, 'P':0}
## Replace the Term with its numberic values for the Qualifier Cleared Term
df_term_details['qual_cleared_term'] = df_term_details['qual_cleared_term'].replace(term_mapping)


## Replace the Term with its numberic values for the Foundation completed Term
df_term_details['FoundationalCertCompletion']= df_term_details['FoundationalCertCompletion'].replace(term_mapping)

df_term_details['Foundation CGPA'] = df_term_details['Foundation CGPA'].astype(float)


# Joining the Table Student Term details with Student Course Details
# by merging on the encoded email key . By this we get the details of all the courses taken
# by a student in a term with the grade and marks scored in the course.

df = pd.merge(df_term_details,df_course_details,left_on='encoded email',right_on='encoded email',how='left')

## Mapping Grade with its numeric quantity and selecting only those with courses with grade more that C
df['grade'] = df['grade'].replace(grade_mapping)
df = df[df['Foundation completed'] == 8]
df = df[df['Foundation CGPA']>7]

# Dropping the encoded email
df.drop(['encoded email'],axis=1,inplace=True)

# Replace Term with its numeric value
df['term_code']=df['term_code'].replace(term_mapping)

/var/folders/fd/y551gpn13f9d06bv3p080k7r0000gn/T/ipykernel_7073/3183936953.py:25: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_term_details.fillna(0)
/var/folders/fd/y551gpn13f9d06bv3p080k7r0000gn/T/ipykernel_7073/3183936953.py:33: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_term_details['qual_cleared_term'] = df_term_details['qual_cleared_term'].replace(term_mapping)
/var/folders/fd/y551gpn13f9d06bv3p080k7r0000gn/T/ipykernel_7073/3183936953.py:49: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['grade'] = df['grade'].replace(grade_mapping)

In [19]:
df.head()

,,Status,Country,State,city,Foundation completed,qual_cleared_term,Term Status.9,NOC Reg.9,Term Status.10,...,Unnamed: 67,marks,test_code,term_code,order,course_code,grade,result,level,acc_id
33,NaN,TermStudents,india,Uttar-Pradesh,NaN,8,1,Registered,1.0,Registered,...,-,86.0,COURSE_SCORE,1,1,MA1001,9,P,NaN,5909480382398464_
34,NaN,TermStudents,india,Uttar-Pradesh,NaN,8,1,Registered,1.0,Registered,...,-,79.0,COURSE_SCORE,2,2,HS1002,8,P,NaN,5909480382398464_
35,NaN,TermStudents,india,Uttar-Pradesh,NaN,8,1,Registered,1.0,Registered,...,-,78.0,COURSE_SCORE,1,1,HS1001,8,P,NaN,5909480382398464_
36,NaN,TermStudents,india,Uttar-Pradesh,NaN,8,1,Registered,1.0,Registered,...,-,71.0,COURSE_SCORE,1,1,CS1001,8,P,NaN,5909480382398464_
37,NaN,TermStudents,india,Uttar-Pradesh,NaN,8,1,Registered,1.0,Registered,...,-,76.0,COURSE_SCORE,7,7,CS2004,8,P,DIPLOMA,5909480382398464_

In [23]:
df.drop(['Country','State','city','qual_cleared_term',"Foundation completed",'FoundationalCertCompletion','Category','Qualifier Score','gender','Age',
         'Foundation CGPA','Latest Registered term','marks'],axis=1,inplace=True)

KeyError: "['Country', 'State', 'city', 'qual_cleared_term', 'Foundation completed', 'FoundationalCertCompletion', 'Category', 'Qualifier Score', 'gender', 'Age', 'Foundation CGPA', 'Latest Registered term', 'marks'] not found in axis"

In [24]:
df

,,Status,Term Status.9,NOC Reg.9,Term Status.10,NOC Reg.10,.1,DOB,Foundation Completion term,New Student Status,Unnamed: 67,test_code,term_code,order,course_code,grade,result,level,acc_id
33,NaN,TermStudents,Registered,1.0,Registered,3,3,2002-07-07 00:00:00,4.0,ACTIVE_STUDENT,-,COURSE_SCORE,1,1,MA1001,9,P,NaN,5909480382398464_
34,NaN,TermStudents,Registered,1.0,Registered,3,3,2002-07-07 00:00:00,4.0,ACTIVE_STUDENT,-,COURSE_SCORE,2,2,HS1002,8,P,NaN,5909480382398464_
35,NaN,TermStudents,Registered,1.0,Registered,3,3,2002-07-07 00:00:00,4.0,ACTIVE_STUDENT,-,COURSE_SCORE,1,1,HS1001,8,P,NaN,5909480382398464_
36,NaN,TermStudents,Registered,1.0,Registered,3,3,2002-07-07 00:00:00,4.0,ACTIVE_STUDENT,-,COURSE_SCORE,1,1,CS1001,8,P,NaN,5909480382398464_
37,NaN,TermStudents,Registered,1.0,Registered,3,3,2002-07-07 00:00:00,4.0,ACTIVE_STUDENT,-,COURSE_SCORE,7,7,CS2004,8,P,DIPLOMA,5909480382398464_
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204130,NaN,QualifiedStudents,Registered,4.0,Registered,4,1,25-12-2005,10.0,ACTIVE_STUDENT,-,COURSE_SCORE,9,9,MA1001,9,P,FOUNDATION,5172280774623232_
204131,NaN,QualifiedStudents,Registered,4.0,Registered,4,1,25-12-2005,10.0,ACTIVE_STUDENT,-,COURSE_SCORE,9,9,HS1001,9,P,FOUNDATION,5172280774623232_
204132,NaN,QualifiedStudents,Registered,4.0,Registered,4,1,25-12-2005,10.0,ACTIVE_STUDENT,-,COURSE_SCORE,9,9,MA1002,8,P,FOUNDATION,5172280774623232_
204133,NaN,QualifiedStudents,Registered,4.0,Registered,4,1,25-12-2005,10.0,ACTIVE_STUDENT,-,COURSE_SCORE,F1-2024,10,MA1003,7,P,FOUNDATION,5172280774623232_
204134,NaN,QualifiedStudents,Registered,4.0,Registered,4,1,25-12-2005,10.0,ACTIVE_STUDENT,-,COURSE_SCORE,F1-2024,10,CS1002,10,P,FOUNDATION,5172280774623232_

In [26]:
df.to_csv('/Users/shriprasad/Desktop/Data-Analyst/RP-Course Recom/data.csv')

In [22]:
pivot_df = df.pivot_table(index='encoded email', columns='term_code', values=['course_code', 'grade'], aggfunc=lambda x: ' '.join(str(v) for v in x))

KeyError: 'encoded email'

In [ ]:
pivot_df.fillna(0,inplace=True)
pivot_df

In [ ]:
def pad(l):
  temp = ['0']*(4-len(l))
  return temp+l

d = {'student_id':[],'term_basket':[],'grade_basket':[]}
max_length = 4
for student in range(pivot_df.shape[0]):
  if all([len(x.split(' ')) < 5 for x in pivot_df.iloc[student][0:9] if isinstance(x, str)]):
    d['student_id'].append(pivot_df.iloc[student].name)
    d['term_basket'].append([pad(x.split(' ')) if isinstance(x, str) else ['0','0','0','0'] for x in pivot_df.iloc[student][0:9] ])
    d['grade_basket'].append([pad(x.split(' ')) if isinstance(x, str) else ['0','0','0','0'] for x in pivot_df.iloc[student][9:] ])
student_basket = pd.DataFrame(d)

In [ ]:
student_basket

In [ ]:
course_list =['MA1001','MA1002','CS1001','HS1001', 'MA1003', 'MA1004', 'CS1002','HS1002']
Freq_mat = [[ 0 for x in range(len(course_list))] for x in range(len(course_list))]

In [ ]:
[1 if set(['HS1002','MA1003'])<=set(x) else 0 for x in student_basket.iloc[0][1]]
# student_basket.iloc[0][1]

In [ ]:
# Assuming Freq_mat and course_list are initialized appropriately
for i in range(len(course_list)):
    for j in range(len(course_list)):
        for stu in range(student_basket.shape[0]):
            if course_list[i] != course_list[j]:
                Freq_mat[i][j] += sum([1 if set([course_list[i], course_list[j]]).issubset(set(x)) else 0 for x in student_basket.iloc[stu][1]])

        # print(student_basket.iloc[stu][0],course_list[i],course_list[j],[1 if set([course_list[i],course_list[j]])<=set(x) else 0 for x in student_basket.iloc[stu][1]])

In [ ]:
course_name_list =['Math 1','Stats 1','CT','Eng 1', 'Math 2', 'Stats 2', 'Python','Eng 2']
Freq_mat = pd.DataFrame(Freq_mat, index=course_name_list, columns=course_name_list)

In [ ]:
Freq_mat

In [ ]:
student_basket

##REPLACCING COURSES WITH VECTORS IN STUDENT BASKET

In [ ]:
course_dict ={
    'HS1001':np.array([1,0,0,0,0,0,0,0]),
    'CS1001':np.array([0,1,0,0,0,0,0,0]),
    'MA1001':np.array([0,0,1,0,0,0,0,0]),
    'MA1002':np.array([0,0,0,1,0,0,0,0]),
    'HS1002':np.array([0,0,0,0,1,0,0,0]),
    'CS1002':np.array([0,0,0,0,0,1,0,0]),
    'MA1003':np.array([0,0,0,0,0,0,1,0]),
    'MA1004':np.array([0,0,0,0,0,0,0,1])
}

In [ ]:
student_basket

In [ ]:
for basket in range(len(student_basket['term_basket'])):
  for term in range(len(student_basket['term_basket'][basket])):
    for course in range(len(student_basket['term_basket'][basket][term])):
      if student_basket['term_basket'][basket][term][course] == '0' :
        student_basket['term_basket'][basket][term][course] = np.array([0,0,0,0,0,0,0,0])
      else:
        # print(model1.wv.get_vector(student_basket['term_basket'][basket][term][course]))
        student_basket['term_basket'][basket][term][course] = course_dict[student_basket['term_basket'][basket][term][course]]

In [ ]:
student_basket

##Implementation Of CourseDream Model

* Pooling of courses in a term basket

In [ ]:
data1 = student_basket.copy()

In [ ]:
d1={'ip_seq':[],'op_seq':[]}
seq_len=1
for basket in range(len(data1['term_basket'])):
  for i in range(len(data1['term_basket'][basket])-seq_len):
    a = all(np.all(vector == 0) for vector in data1['term_basket'][basket][i])
    b = all(np.all(vector == 0) for vector in data1['term_basket'][basket][i+seq_len])
    if  not (a or b) :
      d1['ip_seq'].append(np.sum(data1['term_basket'][basket][i],axis=0))
      d1['op_seq'].append(np.sum(data1['term_basket'][basket][i+seq_len],axis=0))

In [ ]:
d2={'ip_seq':[],'op_seq':[]}
seq_len=1
for basket in range(len(data1['term_basket'])):
  for i in range(len(data1['term_basket'][basket])-seq_len):
    a = all(np.all(vector == 0) for vector in data1['term_basket'][basket][i])
    b = all(np.all(vector == 0) for vector in data1['term_basket'][basket][i+seq_len])
    if  not (a or b) :
      temp = [1 for x in data1['grade_basket'][basket][i] if int(x)>0]
      if sum(temp)==0:
        continue
      d2['ip_seq'].append(np.sum(data1['term_basket'][basket][i],axis=0))
      d2['op_seq'].append(np.sum(np.array(data1['grade_basket'][basket][i],dtype=np.int32))/(sum(temp)*10))

In [ ]:
pd.DataFrame(d1)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the features and target variable
y_scaled = scaler.fit_transform(pd.DataFrame(d2)['op_seq'].to_frame())
pd.DataFrame(d2)['op_seq'] = y_scaled

print("Scaled target variable (op_seq):\n", y_scaled)

In [ ]:

### DATA FOR COURSE RECOMMENDATION
X1,y1 = np.array(pd.DataFrame(d1)['ip_seq'].to_list()),np.array(pd.DataFrame(d1)['op_seq'].to_list())
X1 = X1.reshape(X1.shape[0],1, X1.shape[1])
y1 = y1.reshape(y1.shape[0],y1.shape[1])

### DATA FOR GRADE PREDICTION
X2,y2 = np.array(pd.DataFrame(d2)['ip_seq'].to_list()),np.array(pd.DataFrame(d2)['op_seq'].to_list())
X2 = X2.reshape(X2.shape[0],1, X2.shape[1])
y2 = y2.reshape(y2.shape[0],1)

print(X1.shape,y1.shape)
print(X2.shape,y2.shape)

In [ ]:
from keras import Model
from keras.layers import Layer
from tensorflow.keras.optimizers import Adam
import keras.backend as K
import tensorflow as tf
from keras.layers import Input, Dense, SimpleRNN , LSTM,Dropout , Embedding , Masking
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.metrics import mean_squared_error

In [ ]:
# Add attention layer to the deep learning network
class attention(Layer):
    def __init__(self,**kwargs):
        super(attention,self).__init__(**kwargs)

    def build(self,input_shape):
        self.W=self.add_weight(name='attention_weight', shape=(input_shape[-1],1),
                               initializer='random_normal', trainable=True)
        self.b=self.add_weight(name='attention_bias', shape=(input_shape[1],1),
                               initializer='zeros', trainable=True)
        super(attention, self).build(input_shape)

    def call(self,x):
        # Alignment scores. Pass them through tanh function
        e = K.tanh(K.dot(x,self.W)+self.b)
        # Remove dimension of size 1
        e = K.squeeze(e, axis=-1)
        # Compute the weights
        alpha = K.softmax(e)
        # Reshape to tensorFlow format
        alpha = K.expand_dims(alpha, axis=-1)
        # Compute the context vector
        context = x * alpha
        context = K.sum(context, axis=1)
        return context

In [ ]:

## parameters for course recommendation
model_name1 = 'COURSE_RECOMMEDNDATION'
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=42)
input_shape1 = (1,X1_train.shape[2])
hidden_units1 = 32
dense_units1 = 8
loss1 = 'mse'
op_activation1 = 'softmax'

## parameters for grade prediction
model_name2 = 'GRADE_PREDICTION'
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=42)
input_shape2 = (1,X2_train.shape[2])
hidden_units2 = 32
dense_units2 = 1
loss2 = 'mse'
op_activation2 = 'relu'

epochs = 100
dropout=0.2

def create_RNN_with_attention(hidden_units, dense_units, input_shape,loss,dropout_rate,model_name,op_activation):
    optimizer = Adam(learning_rate=0.1)
    model = Sequential([
        LSTM(hidden_units, input_shape=input_shape, return_sequences=True),
        Dropout(dropout_rate),
        LSTM(hidden_units//2, input_shape=input_shape, return_sequences=True),
        Dropout(dropout_rate),
        attention(),  # Attention layer
        Dense(dense_units, trainable=True, activation=op_activation)
    ])
    model._name = model_name
    model.compile(loss= loss, optimizer=optimizer)
    return model

model_attention1 = create_RNN_with_attention(hidden_units=hidden_units1, dense_units=dense_units1,
                                  input_shape=input_shape1,loss=loss1,dropout_rate=dropout,
                                             model_name=model_name1,op_activation=op_activation1)
model_attention1.summary()


model_attention2 = create_RNN_with_attention(hidden_units=hidden_units2, dense_units=dense_units2,
                                  input_shape=input_shape2,loss=loss2,dropout_rate=dropout,
                                             model_name=model_name2,op_activation=op_activation2)
model_attention2.summary()

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model3 = LinearRegression()
model3.fit(np.sqrt(np.sqrt(X2_train.reshape(-1,8))), np.sqrt(np.sqrt(y2_train)))

# Making predictions on the test set
y2_pred = model3.predict(np.sqrt(np.sqrt(X2_test.reshape(-1,8))))

# Evaluating the model
mse = mean_squared_error(np.sqrt(np.sqrt(y2_test)), y2_pred)
print("Mean Squared Error:", mse)


plt.scatter(range(len(y2_test[:100])), np.square(np.square(y2_pred[:100])), color='blue', label='op_seq_pred')
plt.scatter(range(len(y2_test[:100])), y2_test[:100], color='red', label='op_seq_true')
plt.xlabel('DATA POINT')
plt.ylabel('Value')
plt.title('op_seq_pred vs op_seq_true')
plt.legend()
plt.show()

In [ ]:
# Evalute model course recommendation
model_attention1.fit(X1_train, y1_train, epochs=epochs, batch_size=516)
train_mse1 = model_attention1.evaluate(X1_train, y1_train)
test_mse1 = model_attention1.evaluate(X1_test, y1_test)

# Evalute model grade prediction
model_attention2.fit(X2_train, y2_train, epochs=epochs, batch_size=64)
train_mse2 = model_attention2.evaluate(X2_train, y2_train)
test_mse2 = model_attention2.evaluate(X2_test, y2_test)


# Print error model 1
print("Train set MSE = ", train_mse1)
print("Test set MSE = ", test_mse1)

# Print error model 2
print("Train set MSE = ", train_mse2)
print("Test set MSE = ", test_mse2)

In [ ]:
print([1 if x>=0.1 else 0 for x in model_attention1.predict(X1_test[1].reshape(1,1,-1)).flatten()])
print(model_attention2.predict(X1_test[1].reshape(1,1,-1)).flatten())

In [ ]:
def convert_course(term):
  course_list =['HS1001','CS1001','MA1001','MA1002','HS1002','CS1002','MA1003','MA1004']
  course_bucket = []
  for i in range(len(term)):
    if term[i]==1:
      course_bucket.append(course_list[i])
  return course_bucket

In [ ]:
output1 = pd.DataFrame(columns=['ip_seq', 'op_seq_pred','op_seq_true'])
for i in range(len(X1_test[:100])):
    d = {'ip_seq': [], 'op_seq_pred': [],'op_seq_true':[]}
    d['ip_seq'].append(convert_course(X1_test[i].flatten()))
    d['op_seq_pred'].append(convert_course([1 if x>= 0.1 else 0 for x in model_attention1.predict(X1_test[i].reshape(1,1,-1)).flatten()]))
    d['op_seq_true'].append(convert_course(y1_test[i].flatten()))
    output1 = pd.concat([output1,pd.DataFrame(d)],ignore_index=True)

In [ ]:
output1

In [ ]:
import pandas as pd

# Define a dictionary mapping original course codes to replacements
code_replacements = {
    'HS1001': 'course_A',
    'CS1001': 'course_B',
    'MA1001': 'course_C',
    'MA1002': 'course_D',
    'HS1002': 'course_E',
    'CS1002': 'course_F',
    'MA1003': 'course_G',
    'MA1004': 'course_H'
}

# Function to replace course codes in a list
def replace_codes(course_list):
    return [code_replacements[code] for code in course_list]

# Apply the replace_codes function to each element of the DataFrame
output1.applymap(lambda x: replace_codes(x) if isinstance(x, list) else x)

In [ ]:
output2 = pd.DataFrame(columns=['ip_seq', 'op_seq_pred','op_seq_true'])
for i in range(len(X2_test[:100])):
    d = {'ip_seq': [], 'op_seq_pred': [],'op_seq_true':[]}
    d['ip_seq'].append(convert_course(X2_test[i].flatten()))
    d['op_seq_pred'].append(model_attention2.predict(X2_test[i].reshape(1,1,-1)).flatten())
    d['op_seq_true'].append(y2_test[i])
    output2 = pd.concat([output2,pd.DataFrame(d)],ignore_index=True)

In [ ]:
output2

In [ ]:
plt.scatter(range(len(X2_test[:100])), output2['op_seq_pred'], color='blue', label='op_seq_pred')
plt.scatter(range(len(X2_test[:100])), output2["op_seq_true"], color='red', label='op_seq_true')
plt.xlabel('DATA POINT')
plt.ylabel('Value')
plt.title('op_seq_pred vs op_seq_true')
plt.legend()
plt.show()

In [ ]:
def get_course(term):
  return np.sum(np.array([course_dict[x] for x in term]),axis=0)


convert_course([1 if x>= 0.1 else 0 for x in model_attention1.predict(get_course(['CS1001','MA1001','MA1002','HS1001']).reshape(1,1,-1)).flatten()])

In [ ]:
def convert_course_to_array(term):
  temp = []
  for course in term:
    temp.append(course_dict[course])
  return np.sum(np.array(temp),axis=0)

In [ ]:
output3 = pd.DataFrame(columns=['ip_seq', 'op_seq_pred'])
for op in output1['op_seq_pred']:
  d = {'ip_seq': [], 'op_seq_pred': []}
  d['ip_seq'].append(op)
  d['op_seq_pred'].append(model_attention2.predict(convert_course_to_array(op).reshape(1,1,-1)).flatten())
  output3 = pd.concat([output3,pd.DataFrame(d)],ignore_index=True)

In [ ]:
output3

In [ ]:
def get_course(term):
  return np.sum(np.array([course_dict[x] for x in term]),axis=0)


convert_course([1 if x>= 0.1 else 0 for x in model_attention1.predict(get_course(['MA1004','CS1001']).reshape(1,1,-1)).flatten()])